body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(90deg, #ad7171, #c92424, #7a0808, #320202);
  background-repeat: repeat-x;
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
}

div {
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background-image: linear-gradient(
    90deg,
    #022422d6,
    #125753,
    #2d847e,
    #77c2bd
  );
  box-shadow: 10px 10px 10px rgba(36, 2, 2, 0.833);
  text-align: center;
}

iframe {
  border: 0;
  margin: 2rem;
}
