:root {
  --primary-color: #8b8bd8;
  --secondary-color: #5555d2fa;
  --tertiary-color: #4848e1ee;
  --quaternary-color: #1919e6;
  --quinary-color: #0101bc;
  --senary-color: #000017;
  --primary-text-color: #cdb51b;
  --secondary-text-color: #350808;
  --font-size: 1.5rem;
  --font-color: #000000;
  --background-color: #ffffff;
}


body {
  font-family: fantasy;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg, #65e3f6 0%, #2119f3 100%);
}


.container {
  border: 5px solid #045c27a2;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);

}


.playground {
  display: flex;
  justify-content: space-between;
}

.playground:hover {
  color: #350808;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  line-height: 1.6;
}

.preview {
  width: 60%;
  background-color: var(--background-color);
  padding: 20px;
  box-sizing: border-box;
}

.demo-text {
  font-size: var(--font-size);
  color: var(--font-color);
}

.controls {
  width: 35%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

input {
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}



