body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    padding: 20px;
    line-height: 1.6;
}

div { 
    border: 1px solid lightgrey;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* Class selector (more specific than element selector)*/
.highlight {
    color: black;
}

.highlight {
    background: radial-gradient(red, blue);
}

/* ID selector (more specific than class selector)*/

#special1, #special2 {
    font-weight: bold;
    color: darkslategrey;
    background: comic-gradient(at 0% 30%, red 10%, yellow 30%, green 50%, blue 70%, purple 90%);
}

/* Descendant selector */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.112)
}

.color {
    color: rgba(16, 0, 36, 0.806);
    background-image: linear-gradient(90deg, #115173, #253867, #4480bd, #1c81ca, #1c9aa5, #2459df, #399b5f, #22b5ab);
}

.color:hover {
    color: rgb(199, 112, 13);
    background: linear-gradient(#9b396f, #9b396f, #51022d, #791466, #570725, #8e0917, #cc8888, #8b0c0c, #420202);
}


.font-size {
    font-size: 24px;
}

.font-size:hover {
    font-size: 40px;
}

.font-family {
    font-family: 'Courier New', Courier, monospace;
}

.font-family:hover {
    font-family: 'Times New Roman', Times, serif;

}

.text-shadow {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.text-shadow:hover {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.text-align {
    text-align: center;
}

.text-align:hover {
    text-align: right;
}

.line-height {
    line-height: 5;
    background-color: cyan;
    color: #2e0808;
}

.line-height:hover {
    line-height: 2;
    color: #2e0808;
}

.letter-spacing {
    letter-spacing: 10px;
}

.letter-spacing:hover {
    letter-spacing: 25px;
}

.border {
    border: 4px solid #4467bd;
}

.border:hover {
    border: 20px double #864924;

}

.margin {
    border:rgba(126, 83, 183, 0.806) 4px solid;
    background-color: #2e0808;
    margin: 20px;
    color: rgb(255, 251, 251)
    
}

.margin:hover {
    margin: 70px;

}

.padding {
    padding: 20px;
    background-color: rgb(163, 29, 29);
    border:rgba(16, 0, 36, 0.806) 4px solid;

}

.padding:hover {
    padding: 70px;
}

.width {
    background-color: rgb(220, 116, 12);
    width: 100px;
}

.width:hover {
    width: 200px;
}

.height {
    background-color:rgba(32, 3, 69, 0.806);
    height: 100px;
}

.height:hover {
    height: 200px;
}

.width-height {
    width: 50%;
    height: 150px;
    color:rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 2rem;
    background-image: linear-gradient(180deg, #39559b, #224cb5, #4480bd, #1c81ca, #1c9aa5, #2459df, #399b5f, #22b5ab);
}

.width-height:hover {
    width: 100%;
    height: 300px;
    font-size: 3rem;
    color:rgba(0, 0, 0, 0.6);
    font-weight: 400;
    background-image: linear-gradient(to bottom right, #9b396f, #9b396f, #51022d, #791466, #570725, #8e0917, #cc8888, #8b0c0c, #420202);
}

.position {
    position: relative;
    top: 20px;
    left: 15px;
}

.position:hover {
    position: left;
    top: 100px;
    left: 100px;
}

.transition {
    background-color: limegreen;
    color: white;
    cursor: pointer;

}

.transition:hover {
    height: 200px;
    width: 200px;
    transition: height 0.5s, width 0.5s, transform 0.5s;
}

.transform {
    transform:rotate(180deg);
    background-color: #2e0808;
    color: white;

}

.transform:hover {
    transform:rotate(90deg) 0.5s;
}